body{
    background-color: rgb(3, 15, 37);
}

div#container1 {
    left:50%;
    top:40%;
    margin-left:-100px;
    margin-top:-50px;
    position:absolute;
}

div#container2 {
    top:40%;
    margin-left:650px;
    margin-top:-50px;
    position:absolute;
}

div#confirmacao {
    background-color: rgb(34, 24, 168);
    width: 600px;
    height: 170px;
    border-radius: 10px;
}

.title {
    margin-left: 100px;
    color: rgb(30, 66, 133);
}

h1 {
    color: white;
}


.input1 {
    border-radius: 4px;
    height: 50px;
    width: 250px;
    border-style: none;
    margin-top: 0px;
}

input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

#divisao_esquerda {
    float: left;
}

#nome_usuario, #horario_inicio, #curso_aplicado {
    color: cornflowerblue;
}

.alinhamento_esq, .alinhamento_dir {
    margin-left: 50px;
    color: cornflowerblue;
}

.botao_enviar {
    height: 40px;
    background-color: cornflowerblue;
    border-style: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 100px;
    
}
