body{
    background-color: rgb(3, 15, 37);
}

div {
    left:50%;
    top:40%;
    margin-left:-100px;
    margin-top:-50px;
    position:absolute;
}

.input1 {
    border-radius: 4px;
    height: 50px;
    width: 250px;
    border-style: none;
    margin-top: 0px;
}

input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

#nome_usuario {
    color: cornflowerblue;
}
